.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.nameAndPrise {
  display: flex;
}
.nameAndPrise > h3 {
  padding: 13px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 10px;
}

.flex_container {
  display: flex;

  align-items: center;
}
.flex_container > h4 {
  padding: 14px;
  margin: 5px;
  overflow: "break-word";
  max-width: 20px;
}
.flex_container > p {
  padding: 20px;
  margin: 5px;
}
